.headerShadow {
    position: absolute;
    z-index: 100;
    top: 0;
    left: -0.5rem;
    right: 0;
    height: 6rem;
    transform-origin: top left;
    transform: rotate(-1deg);
    background: rgba(0,16,50,0.8);
    box-shadow: 0 0 1rem 0rem rgba(0,0,0,0.5);
}

#story {
    padding-top: 2rem;

    .header {
        h1 {
        }

        p {
        }
    }
}

#staffPage {
    padding: 6rem 4.8rem 2rem 4.8rem;

    #staffMembers {
        > header {
            margin-bottom: 2rem;

            > h1 {
                font-size: 10rem;
                line-height: 9rem;
                transition: 0.6s all;
            }
        }
    }

    #mainStaffList {
        padding: 0;
        margin-top: 2rem;

        > .member {
            display: block;
            float: left;
            width: 25%;
            margin: 0;
            padding: 0;
            text-align: center;
            padding: 1rem;
            transition: 0.3s all;

            > img {
                display: block;
                width: 15rem;
                border-radius: 50%;
                margin: 0 auto;
                box-shadow: 0 0 0.7rem 0rem rgba(0,16,50,0.7), 0 0 2rem 0rem rgba(0,16,50,0.3);
            }

            > header > h1 {
                font-size: 3rem;
                font-weight: 100;
                margin: 1rem 0;
                color: #001032;
            }

            > p {
                max-width: 40rem;
                margin: 0 auto;
                font-size: 1.6rem;
                padding: 0 1rem 1rem;
            }

            > a {
                background: #001032;
                border-radius: 2rem;
                padding: 0.2rem;
                color: #fff;
                font-weight: 100;
                font-size: 1.6rem;
                line-height: 2rem;
                padding: 0.5rem 0.8rem;
            }
        }
    }

    #secondaryStaffList {
        padding: 0;
        margin-top: 2rem;

        > .member {
            display: block;
            float: left;
            width: 50%;
            margin: 0;
            padding: 0;
            text-align: center;
            padding: 1rem;
            transition: 0.3s all;

            > img {
                display: block;
                width: 12rem;
                border-radius: 50%;
                margin: 0 auto;
                box-shadow: 0 0 0.7rem 0rem rgba(0,16,50,0.7), 0 0 2rem 0rem rgba(0,16,50,0.3);
            }

            > header > h1 {
                font-size: 2.5rem;
                font-weight: 100;
                margin: 1rem 0;
                color: #001032;
            }

            > p {
                max-width: 40rem;
                margin: 0 auto;
                font-size: 1.4rem;
                padding: 0 1rem 1rem;
            }

            > a {
                background: #001032;
                border-radius: 2rem;
                padding: 0.2rem;
                color: #fff;
                font-weight: 100;
                font-size: 1.4rem;
                line-height: 1.6rem;
                padding: 0.5rem 0.8rem;
            }
        }
    }

    #helpersList {
        margin: 2rem 0 2rem 0rem;

        > .helper {
            display: inline-block;
            margin: 0 0.3rem 0.3rem 0;
            background: rgba(0,16,50,0.5);
            border-radius: 0.3rem;
            padding: 0.1rem 0.2rem;
            color: #fff;
        }
    }

    #poweredByTachuso {
        text-align: center;
        margin: 3rem 0 2rem 0;
        font-size: 1.6rem;
        line-height: 2rem;

        > i {
            font-size: 2rem;
            color: red;
            text-shadow: 0 0 1rem tomato;
        }

        > img {
            display: inline-block;
        }
    }
}


@media (max-width: 1024px) {
    #mainStaffList {
        
        > .member {
            width: 50% !important;
        }
    }
    #secondaryStaffList {
        
        > .member {
            width: 50% !important;
        }
    }
}

@media (max-width: 768px) {
    #mainStaffList {
        
        > .member {
            width: 100% !important;
        }
    }
    #secondaryStaffList {
        padding: 0;

        > .member {
            width: 100% !important;
        }
    }
}

